<section class="section">
  <div class="container">
    <h1 class="title">Your Photos</h1>

    <%= link_to 'Upload New Photo', new_photo_path, class: "button is-primary mb-5" %>

    <% if @photos.any? %>
      <div class="columns is-multiline">
        <% @photos.each do |photo| %>
          <% if photo.image.attached? %>
            <div class="column is-one-third">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <%= image_tag photo.image.variant(resize_to_limit: [800, 800]), alt: photo.title %>
                  </figure>
                </div>
                <div class="card-content">
                  <p class="title is-5"><%= photo.title %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="notification is-info">
        <p>You haven't uploaded any photos yet.</p>
      </div>
    <% end %>
  </div>
</section>
